# Importing and Cleaning

In [4]:
import pandas as pd
import numpy as np 
import matplotlib as plt
import openpyxl

In [5]:
essa = pd.read_excel('data/2020 ESSA Data.xlsx')
school = pd.read_excel('data/SuccessBySchool.xlsx')

In [6]:
# set columns
school.columns = school.iloc[4]


# drop first rows
school = school.drop(school.index[0:5],axis=0)
# school = school.reset_index(drop=True)

#drop first two columns add grade
school = school.drop(['Corp ID','Corp Name'],axis=1)
school['grade'] = None
school = pd.concat([school.iloc[:,[0,1,51]],school.iloc[:,2:51]],axis=1)

In [7]:
# test restructure data
test = school.loc[school['School ID'] == '0013']

grade3 = test.iloc[:,0:10]
grade3['grade'] = '3'

grade4 = pd.concat([test.iloc[:,0:3],test.iloc[:,10:17]],axis=1)
grade4['grade'] = '4'

grade5 = pd.concat([test.iloc[:,0:3],test.iloc[:,17:24]],axis=1)
grade5['grade'] = '5'

grade6 = pd.concat([test.iloc[:,0:3],test.iloc[:,24:31]],axis=1)
grade6['grade'] = '6'

grade7 = pd.concat([test.iloc[:,0:3],test.iloc[:,31:38]],axis=1)
grade7['grade'] = '7'

grade8 = pd.concat([test.iloc[:,0:3],test.iloc[:,38:45]],axis=1)
grade8['grade'] = '8'

gradeT = pd.concat([test.iloc[:,0:3],test.iloc[:,45:52]],axis=1)
gradeT['grade'] = 'total'

test = pd.concat([grade3,grade4,grade5,grade6,grade7,grade8,gradeT])

/var/folders/_2/bzbffk715flfhcgl3wbq2pfm0000gn/T/ipykernel_84987/2773814199.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grade3['grade'] = '3'

In [13]:
# looping restructure
school = pd.DataFrame()
for row in school:
    grade3 = school.iloc[:,0:10]
    grade3['grade'] = '3'

    grade4 = pd.concat([school.iloc[:,0:3],school.iloc[:,10:17]],axis=1)
    grade4['grade'] = '4'

    grade5 = pd.concat([school.iloc[:,0:3],school.iloc[:,17:24]],axis=1)
    grade5['grade'] = '5'

    grade6 = pd.concat([school.iloc[:,0:3],school.iloc[:,24:31]],axis=1)
    grade6['grade'] = '6'

    grade7 = pd.concat([school.iloc[:,0:3],school.iloc[:,31:38]],axis=1)
    grade7['grade'] = '7'

    grade8 = pd.concat([school.iloc[:,0:3],school.iloc[:,38:45]],axis=1)
    grade8['grade'] = '8'

    gradeT = pd.concat([school.iloc[:,0:3],school.iloc[:,45:52]],axis=1)
    gradeT['grade'] = 'total'
    
    restruct = pd.concat([grade3,grade4,grade5,grade6,grade7,grade8,gradeT])
    
    school = pd.concat([restruct])
    
school

Empty DataFrame
Columns: []
Index: []